/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 25, 2025, 11:45:42 PM
    Author     : Admin
*/
.action-flex-box{
    margin-top: 40px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.view-product-action,
.back-to-home-action{
    display: flex;
    column-gap: 5px;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 5px 15px;
    background-color: #2792B3;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.view-product-action:hover,
.back-to-home-action:hover{
    background-color: #1d708a;
}

.back-to-home-action img{
    width: 50px;
    height: auto;
    margin-left: -15px;
    cursor: pointer;
}

.view-product-action img{
    width: 35px;
    height: auto;
    margin-left: -5px;
    cursor: pointer;
}


.view-product-action a,
.back-to-home-action a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.submit-button{
    color: white;
    font-size: 15px;
    padding: 5px 15px;
    background-color: #2792B3;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.submit-button:hover{
    background-color: #1d708a;
}
